rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if the user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Helper function to check if the user owns the document
    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    // User profiles rules
    match /users/{userId} {
      // Allow users to access their own profile
      allow create, read, update: if isAuthenticated() && isOwner(userId);
    }
    
    // Survey responses rules
    match /surveys/{surveyId}/responses/{userId} {
      
      // Allow users to access their own survey responses
      allow create, read, update: if isAuthenticated() && isOwner(userId);
    }
  }
}