@import url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.main-content {
  width: 65%;
  margin-top: 6%;
  margin-inline: auto;
  font-size: medium;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #224012;
}

h1, h2, h3, h4, hr, div, p, a, i, button, input, body {
    margin-block: 5px;
    background-color: #FCFFF0;
}

h1 {
  margin-block: 10px;
  font-size: 250%;
}
h2 {
  margin-block: 10px;
  font-size: 200%;
}
h3 {
  margin-top: 30px;
  font-size: 150%;
}
h4 {
  margin-top: 23px;
}

hr {
  margin-bottom: 30px;
}

button, select, input {
  font-size: 90%;
  margin-right: 5px;
}

button {
  background-color: #224012;
  color: #FCFFF0;
  border: none;
  border-radius: 14px;
  padding: 7px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #941C2F;
}

input, select, option {
    border: 1px solid #224012;
    border-radius: 14px;
    background-color: #FCFFF0;
    transition: background-color 0.2s ease;
    /* box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1); */
}
input {
    padding: 8px;
}
select {
    padding: 6px;
}
select:hover {
  background-color: #224012;
  color: #FCFFF0;
}